<h1 class="header">Edit Games</h1>
<% for (let game of games) { %>
<div class="form">
    <form action="/users/<%= currentUser.id %>/edit/games?_method=put" method="post">

        <label for=""><%= game.title %></label>
        <input type="text" name="remark" value="<%= game.remark %>">
        <input type="hidden" name="userGameId" value=<%= game.usergameid %>>

        <button class="update">Update</button>

    </form>

    <form class="delete-form" action="/users/<%= currentUser.id %>/edit/games?_method=delete" method="post">
        <input type="hidden" name="userGameId" value=<%= game.usergameid %>>
        <input type="hidden" name="gameId" value=<%= game.game_id %>>
        <button>Delete</button>
    </form>
</div>
<% } %>

<h2>Add new game</h2>
<div class="form">
    <form action="/users/<%= currentUser.id %>/edit/games" method="post">
        <label for="">Game</label>
        <select name="gameId">
            <% for (let game of allGames) { %>
                <option value="<%= game.id %>"><%= game.title %></option>
            <% } %>
        </select>

        <label for="">Remark</label>
        <input type="text" name="remark">

        <button>Add new game</button>
    </form>
</div>