<h1>game details</h1>

<img src="<%= game.image_url %>" alt="">
<h2><%= game.title %></h2>
<p><%= game.description %></p>

<section>
    <div class="user-games">
        <h2>Users</h2>
        <table>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Remarks</th>
            </tr>
            <% for (let gameUser of gameUsers) {%>
                <tr>
                    <td><img src="<%= gameUser.profile_image %>" alt="Profile picture"></td>
                    <td><%= gameUser.username %></td>
                    <td><%= gameUser.remark %></td>
                </tr>
            <% } %>
        </table>
    </div>
</section>
