
<h1 class="header"><%= game.title %></h1>

<img class="game-image" src="<%= game.image_url %>" alt="Image of game">
<div class="paragraph">
    <p>Description: <%= game.description %></p>
</div>

<section>
    <div class="user-games">
        <h2 class="tagline">Users</h2>
        <table>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Remarks</th>
            </tr>
            <% for (let gameUser of gameUsers) {%>
                <tr>
                    <td><img src="<%= gameUser.profile_image %>" alt="Profile picture"></td>
                    <td><a class="player" href="/users/<%= gameUser.user_id %>"><%= gameUser.username %></a></td>
                    <td><span class="remark"><%= gameUser.remark %></span></td>
                </tr>
            <% } %>
        </table>
    </div>
</section>

