<header>
    <div class="user-header">
        <h1 class="header"><%= user.username %></h1>
    <% if (currentUser.id === user.id) { %>
        <a class="edit-link" href="/users/<%= user.id %>/edit/profile">edit profile</a>
        <form action="/logout?_method=delete" method="post">
            <button>logout</button>
        </form>
    <% } %>
    </div>
</header>

<main class="content-wrapper">
    <section>
        <div class="user-info">
            <div class="profile-image">
                <img src="<%= user.profile_image %>" alt="User profile picture">
            </div>
            <div class="profile-desc">
                <h2>About me</h2>
                <p><%= user.about_me %></p>
            </div>
        </div>
    </section>

    <section>
        <div class="user-games">
            <h2>Games</h2>
            <% if (currentUser.id === user.id) { %>
                <a class="edit-link" href="/users/<%= user.id %>/edit/games">edit games</a>
            <% } %>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Remarks</th>
                </tr>
                <% for (let game of games) {%>
                    <tr>
                        <td><a class="player" href="/games/<%= game.game_id %>"><%= game.title %></a></td>
                        <td><span class="remark"><%= game.remark %></span></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </section>
</main>

<div class="user-connections">
    <% if (currentUser.id === user.id) { %>
        <h2>Your connections</h2>
        <% for (let chat of chats) { %>
            <% if (chat.sender_id === currentUser.id && chat.username !== user.username) { %>
                <a href="/users/<%= currentUser.id %>/messages/<%= chat.receiver_id %>"><%= chat.username %></a>
            <% } else if (chat.receiver_id === currentUser.id && chat.username !== user.username) {%>
                <a href="/users/<%= currentUser.id %>/messages/<%= chat.sender_id %>"><%= chat.username %></a>
            <% } %>
        <% } %>
        
    <% } else if (isLoggedIn) { %>
        <a href="/users/<%= currentUser.id %>/messages/<%= user.id %>">Message <%= user.username %></a>
    <% } %>
</div>